---
import Head from '../components/head.astro';

import Reg from '../components/reg-line.astro';
---
<!DOCTYPE html>

<html>
    <Head title="S&amp;P 500 Index (1931-2030)"/>
<body>
    <Reg />

</body>
</html>
